/*
  CUSTOM CSS

  Usado para pintar os atributos que contém erros após a verificação de seu validator
*/
.attributes-without-errors {
  color: #000000; /* preto */
  border-color: #ccc;
}

.attributes-with-errors {
  color: #bf1818 !important; /* vermelho */
  border-color: #bf1818 !important;
}
