<form class="form-horizontal" style="margin-top: 30px;">
<fieldset>


  <!-- Form Name -->
  <legend style="font-size: 30px;">{{enderecosCtrl.view.name.plural | capitalize}}</legend>

  <!-- FAILED TO COMMUNICATE WITH THE SERVER -->
  <div class="col-md-12  text-center" style="margin-bottom: auto; margin-top: 100px;"
  ng-if="enderecosCtrl.view.errors.onInit">
    <div class="col-md-12">
      <i class="fa fa-frown-" style="font-size: 250px;"></i>
    </div>
    <div class="row"></div>
    <div class="col-md-12">
      <p>Houve uma falha ao carregar os {{enderecosCtrl.view.name.plural}} e/ou não foi possível se comunicar com o servidor de dados.</p>
      <p>Por favor, contate o suporte.</p>
    </div>
  </div>

  <!-- NO DATA REGISTERED MESSAGE -->
  <div class="col-md-12  text-center" style="margin-bottom: auto; margin-top: 100px;"
  ng-if="!enderecosCtrl.enderecos.length && enderecosCtrl.view.errors.onInit == false">
    <div class="col-md-12">
      <i class="fa fa-map-marker" style="font-size: 250px;"></i>
    </div>
    <div class="row"></div>
    <div class="col-md-12">
      <p>Não há {{enderecosCtrl.view.name.plural}} cadastrados. </p>
      <p>Cadastre um novo {{enderecosCtrl.view.name.singular}}
        <button class="btn btn-info btn-xs" ui-sref="enderecos_form({a: 'new'})"> clicando aqui</button>
      </p>
    </div>
  </div>

  <!-- LISTING GRID -->
  <div class="col-md-12"
  ng-if="enderecosCtrl.enderecos.length">
    <table class="table table-striped table-bordered" style="margin-top: 15px;"
      datatable="ng" dt-options="enderecosCtrl.dtOptions" dt-column-defs="enderecosCtrl.dtColumnDefs">
    <thead>
      <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Rua</th>
          <th class="text-center">Bairro</th>
          <th class="text-center">Numero</th>
          <th class="text-center">CEP</th>
          <th class="text-center">
            <i class="fa fa-bolt"></i>
          </th>
      </tr>
    </thead>
      <tr ng-repeat="endereco in enderecosCtrl.enderecos">
          <td class="text-center">{{endereco.id}}</td>
          <td class="text-left">{{endereco.rua}}</td>
          <td class="text-left">{{endereco.bairro}}</td>
          <td class="text-right">{{endereco.numero}}</td>
          <td class="text-right">{{endereco.cep}}</td>
          <td class="text-center">
            <a class='btn btn-info btn-xs' ui-sref="enderecos_form({a: 'edit', id: '{{endereco.id}}' })">
              <i class="fa fa-pencil-square-o"></i> Editar
            </a>
            <button class="btn btn-danger btn-xs" ng-click="enderecosCtrl.model.destroy('{{endereco.id}}')">
              <i class="fa fa-times"></i> Deletar
            </button>
          </td>
      </tr>
    </table>
  </div>

  </fieldset>
</form>

