<form class="form-horizontal" style="margin-top: 30px;">
<fieldset>

<!-- Form Name -->
<legend style="font-size: 30px;">Endereço</legend>

<div class="error-notice">
  <div class="oaerror danger"
  ng-repeat="error in enderecosCtrl.view.errors">
    <strong>{{error.title}}</strong> - {{error.message}}
  </div>
</div>

<div class="col-md-12"> <!--  col-md-offset-1 -->
  <!-- Text input-->
  <div class="form-group">
    <div class="col-md-5">
      <label class="control-label" for="txtRua"
      ng-class="{'attributes-with-errors': enderecosCtrl.model.hasErrors.rua === true}">Rua</label>
      <input id="txtRua" name="txtRua" type="text" placeholder="" class="form-control input-md attributes-without-errors"
      ng-model="enderecosCtrl.endereco.rua"
      ng-class="{'attributes-with-errors': enderecosCtrl.model.hasErrors.rua === true}">
      <span class="help-block">Exemplo: "Rua Dona Neli dos Santos Lopes"</span>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <div class="col-md-4">
    <label class="control-label" for="txtBairro"
    ng-class="{'attributes-with-errors': enderecosCtrl.model.hasErrors.bairro === true}">Bairro</label>
    <input id="txtBairro" name="txtBairro" type="text" placeholder="" class="form-control input-md"
    ng-model="enderecosCtrl.endereco.bairro"
    ng-class="{'attributes-with-errors': enderecosCtrl.model.hasErrors.bairro === true}">
    <span class="help-block">Exemplo: "Vila Industrial"</span>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <div class="col-md-2">
    <label class="control-label" for="txtNumero"
    ng-class="{'attributes-with-errors': enderecosCtrl.model.hasErrors.numero === true}">Número</label>
    <input id="txtNumero" name="txtNumero" type="text" placeholder="" class="form-control input-md"
    ng-model="enderecosCtrl.endereco.numero"
    ng-class="{'attributes-with-errors': enderecosCtrl.model.hasErrors.numero === true}">
    <span class="help-block">Exemplo: "15" para casas ou "43B" para prédios</span>
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <div class="col-md-2">
    <label class="control-label" for="txtCep"
    ng-class="{'attributes-with-errors': enderecosCtrl.model.hasErrors.cep === true}">CEP</label>
    <input id="txtCep" name="txtCep" type="text" placeholder="" class="form-control input-md"
    ng-model="enderecosCtrl.endereco.cep"
    ng-class="{'attributes-with-errors': enderecosCtrl.model.hasErrors.cep === true}">
    <span class="help-block">Exemplo: "12220-350"</span>
    </div>
  </div>

  <!-- Button (Double) -->
  <div class="form-group">
    <div class="col-md-8">
    <label class="control-label" for="btnSalvar"></label>
      <button id="btnSalvar" name="btnSalvar" class="btn btn-success" ng-click="enderecosCtrl.model.save()">{{ self.view.action.isNew ? "Salvar" : "Atualizar"}}</button>
      <button id="btnCancelar" name="btnCancelar" class="btn btn-danger" ng-click="enderecosCtrl.view.redirectEnderecosIndex()">Cancelar</button>
    </div>
  </div>
</div>

</fieldset>
</form>
